.blogs{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 80%; */
}
.blog-post{
    width: 400px;
}
.blog-post img{
    width: 100%;
}
.blog-post h4{
    padding-top: 20px;
}
.blog-post p{
    font-size: 14px;
    color: gray;
}
.blog-post button{
    font-size: 14px;
    color:rgb(255,99,71);
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
}
.blog-info{
    font-size: 13px;
    word-spacing: 1px;
}
.blog-info span{
    color:rgb(255,99,71);
}

@media screen and (max-width: 450px){
 .blogs{
    flex-direction: column;
 }   
 .blog-post{
    width: 80%;
    margin: 0% 10%;
 }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .blog-post{
        width: 40%;
        /* margin: 0% 35%; */
    }
}