.error{
    width: 80%;
    margin: 4% 10%;
    text-align: center;
    background-color: rgb(234, 234, 234);
    height: fit-content;
}
.error p{
    padding-top: 70px;
}
.error h1{
    font-size: 200px;
    color: black;
}
.error h1 span{
    color: gray;
}
.error button{
    margin-bottom: 70px;
    padding: 2% 3%;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: rgb(255,99,71);
}
@media screen and (max-width: 450px){
 .error{
    width: 100%;
    margin: 0%;
 }   
 .error h1{
    font-size: 100px;
 }
}