.faq{
    display: flex;
   justify-content: center;
   gap: 20px;
   margin: 5% 0%;    
}

.faq-sec h4{
    color: black;
}
.faq-sec p{
border-top: 1px solid rgb(180, 180, 180);
color: gray;
font-size: 14px;
padding-top: 10px;
}

.faq-row{
    width: 400px;
}
@media screen and (max-width: 450px){
    .faq{
        flex-direction: column;
        width: 90%;
        margin: 0% 5%;
    }
    .faq-row{
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .faq{
        /* flex-direction: column; */
        width: 90%;
        margin: 2% 5%;
    }
    .faq-row{
        width: 100%;
    }
}