.login{
    width: 34%;
    margin: 50px 33%;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
}
.login h1{
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;

}
.login p{
    font-size: 14px;
    padding: 0% 20px;
    text-align: center;

}
.login p span{
    color:rgb(255,99,71);
}
.login label{
    font-size: 14px;
    text-align: left;
}
.login label span{
    color:rgb(255,99,71);
    padding-left: 80px;
}
.login input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(240, 240, 240);
}
.login button{
    width: 90%;
    height: 50px;
    margin: 5% 5%;
    font-size: 18px;
    background-color:rgb(255,99,71);
    color: white;
    font-weight: bolder;
    border: none;
    transition: color 0.3s ease;
}
.login button:hover{
    color: black;
}
@media screen and (max-width: 450px){
 .login{
    width: 90%;
    margin: 3% 5%;
 }   
}